<div class="container">
  <h1><%- breed.breed %></h1>
  <p>Country:<%= breed.country %></p>
  <p>origin: <%= breed.origin %></p>
  <p>Coat: <%= breed.coat %></p>
  <p>Pattern <%= breed.pattern %></p>
</div>
