

<div class="contatiner">
<div class="row">
    <div class="col">
    <h1><%= breed.breed %> </h1>
    <p>Country:<%= breed.country %></p>
    <p>origin: <%= breed.origin %></p>
    <p>Coat: <%= breed.coat %> </p>
    <p>Pattern <%= breed.pattern %></p>
</div>
<div class="col">
    <p><%= fact.fact %></p>
    <p>Legnth:<%= fact.length %></p>
    
</div>
</div>
</div>

